.modal_page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  background-color: rgb(192, 192, 192);
  z-index: 5;
  padding: 10px;
  overflow-y: auto;
}

.modal_box {
  width: 100%;
  height: fit-content;
  max-width: 1000px;
  z-index: 6;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.container_close_btn {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 20px;
  right: 20px;
}

.modal_close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-image: url('./img/close.png');
  background-position: center;
  background-size: cover;
  background-color: rgb(236, 236, 236);
}

.title_modal_main {
  font-family: 'Muller';
  margin-bottom: 20px;
  font-size: 30px;
}
.text_modal{
  font-family: 'Muller';
  margin-bottom: 20px;
  font-size: 16px;
}

.title_modal {
  font-family: 'Muller';
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
